@media screen and (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    font-family: 'Inter', sans-serif;
  }
  body main {
    padding: 2rem 1.5rem 2rem 1.5rem;
    background-color: none;
  }
  body main .container .header {
    width: 100%;
    position: relative;
  }
  body main .container .header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .container .header .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.498);
  }
  body main .container .header .menu .menu-wrapper {
    padding: 2rem 2rem;
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: black;
    background-color: white;
  }
  body main .container .header .menu .menu-wrapper .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-bottom: 5rem;
  }
  body main .container .header .menu .menu-wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  body main .container .header .menu .menu-wrapper ul li {
    font-size: 20px;
    color: #5d5f79;
  }
  body main .container .header .hidden {
    display: none;
  }
  body main .container .container-wrapper .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
  body main .container .container-wrapper .top .left {
    width: 100%;
  }
  body main .container .container-wrapper .top .left .banner {
    display: none;
  }
  body main .container .container-wrapper .top .left .banner-moblie {
    display: block;
  }
  body main .container .container-wrapper .top .left .banner-moblie img {
    width: 100%;
  }
  body main .container .container-wrapper .top .left .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .container .container-wrapper .top .left .content .topic {
    width: 100%;
    padding-right: unset;
  }
  body main .container .container-wrapper .top .left .content .read-more {
    width: 100%;
  }
  body main .container .container-wrapper .top .left .content .read-more p {
    line-height: 2rem;
  }
  body main .container .container-wrapper .top .left .content .read-more .button {
    margin-top: 1.5rem;
  }
  body main .container .container-wrapper .top .right {
    width: 100%;
  }
  body main .container .container-wrapper .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 4rem;
  }
  body main .container .container-wrapper .bottom .post {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

main {
  background-color: #fffdfa;
  padding: 5rem 9rem 7rem;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

main .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .header .hamburger {
  display: none;
}

main .container .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .header .menu .menu-wrapper .close {
  display: none;
}

main .container .header .menu .menu-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

main .container .header .menu .menu-wrapper ul li {
  list-style: none;
  color: #5d5f79;
  cursor: pointer;
}

main .container .header .menu .menu-wrapper ul li:hover {
  color: #f15e50;
}

main .container .container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

main .container .container-wrapper .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

main .container .container-wrapper .top .left {
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

main .container .container-wrapper .top .left .banner img {
  width: 100%;
}

main .container .container-wrapper .top .left .banner-moblie {
  display: none;
}

main .container .container-wrapper .top .left .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .container-wrapper .top .left .content .topic {
  width: 50%;
  font-size: 2rem;
  font-weight: 800;
  padding-right: 4rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

main .container .container-wrapper .top .left .content .read-more {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container .container-wrapper .top .left .content .read-more p {
  color: #5d5f79;
  line-height: 1.5rem;
}

main .container .container-wrapper .top .left .content .read-more .button {
  text-align: center;
  color: white;
  padding: 1rem 0rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  width: 200px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #f15e50;
  cursor: pointer;
}

main .container .container-wrapper .top .left .content .read-more .button:hover {
  background-color: black;
}

main .container .container-wrapper .top .right {
  background-color: #00001a;
  width: 32%;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}

main .container .container-wrapper .top .right hr {
  border: 0.5px solid #5d5f79;
}

main .container .container-wrapper .top .right h3 {
  color: #e9ab53;
  font-size: 2rem;
}

main .container .container-wrapper .top .right .blog {
  color: white;
  padding: 1.8rem 0rem;
}

main .container .container-wrapper .top .right .blog h4 {
  font-size: 18px;
  cursor: pointer;
}

main .container .container-wrapper .top .right .blog h4:hover {
  color: #e9ab53;
}

main .container .container-wrapper .top .right .blog p {
  font-size: 14px;
  color: #c5c6ce;
  line-height: 1.5rem;
  padding: 1rem 2rem 0rem 0rem;
}

main .container .container-wrapper .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

main .container .container-wrapper .bottom .post {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

main .container .container-wrapper .bottom .post img {
  width: 100px;
}

main .container .container-wrapper .bottom .post .post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .container-wrapper .bottom .post .post-content .num {
  font-size: 28px;
  color: #c5c6ce;
  font-weight: 700;
}

main .container .container-wrapper .bottom .post .post-content .title {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

main .container .container-wrapper .bottom .post .post-content .title:hover {
  color: #f15e50;
}

main .container .container-wrapper .bottom .post .post-content p {
  color: #5d5f79;
  line-height: 1.5rem;
  font-size: 13px;
  padding-right: 2rem;
}
/*# sourceMappingURL=style.css.map */